<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="121px"
  height="31px"
  viewBox="0 0 121 31"
  version="1.1"
>
  <title>394C2FFE-A8B1-4E43-B4D7-086553463F1A@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-OnScroll" transform="translate(-62.000000, -15.000000)" fill-rule="nonzero">
          <g id="Truskin-logo-color" transform="translate(62.000000, 15.000000)">
              <path d="M7.66120343,6.90851142 L0,6.90851142 L0,2.30283714 L20.1038672,2.30283714 L20.1038672,6.85368196 L12.4426637,6.85368196 L12.4426637,30.3755184 L7.66120343,30.3755184 C7.66120343,30.3755184 7.66120343,6.90851142 7.66120343,6.90851142 Z" id="Path" fill="#000000"/>
              <path d="M32.5465309,11.5141857 L30.8621528,15.8457127 C30.8621528,15.8457127 29.9927964,15.407077 28.5800922,15.407077 C25.7003491,15.407077 24.3419797,17.9840615 24.3419797,17.9840615 L24.3419797,30.4303479 L19.5605194,30.4303479 L19.5605194,11.4045268 L24.0703058,11.4045268 L24.0703058,14.1459996 C24.0703058,14.1459996 25.7003491,10.9110617 29.1777748,10.9110617 C30.9708224,10.9110617 32.5465309,11.5141857 32.5465309,11.5141857 Z" id="Path" fill="#000000"/>
              <polygon id="Path" fill="#000000" points="77.3727212 21.3834877 77.3727212 30.3755184 74.0582999 30.3755184 74.0582999 0.0548294557 77.3727212 0.0548294557 77.3727212 20.0675808 85.2512637 11.8431624 89.5980458 11.8431624 81.0131512 20.5610459 90.3043979 30.320689 85.6316072 30.320689"/>
              <polygon id="Path" fill="#000000" points="91.9344412 11.8431624 95.2488626 11.8431624 95.2488626 30.3755184 91.9344412 30.3755184"/>
              <ellipse id="Oval" fill="#CCCC33" cx="95.7378755" cy="2.8511317" rx="2.82540836" ry="2.8511317"/>
              <ellipse id="Oval" fill="#000000" cx="93.6188193" cy="5.92158121" rx="2.2820606" ry="2.30283714"/>
              <path d="M114.646378,18.4775266 L114.646378,30.3755184 L111.331956,30.3755184 L111.331956,19.0258211 C111.331956,15.8457127 109.375904,14.4749763 106.930839,14.4749763 C103.942427,14.4749763 102.366718,17.6002553 102.366718,17.6002553 L102.366718,30.3755184 L99.0522969,30.3755184 L99.0522969,11.8431624 L102.149379,11.8431624 L102.149379,14.4749763 C102.149379,14.4749763 103.833757,11.4045268 107.800196,11.4045268 C111.386291,11.4045268 114.646378,13.9266817 114.646378,18.4775266 Z" id="Path" fill="#000000"/>
              <path d="M72.2652523,23.2476892 C72.2652523,18.6968444 69.6028482,16.8874723 65.3647357,14.9684414 C61.5613014,13.2138988 59.1705712,12.0624802 59.1705712,9.21134855 C59.1705712,7.18265869 60.8006145,5.04430992 63.843362,5.04430992 C67.3207876,5.04430992 69.2225048,7.95027107 69.2225048,7.95027107 L71.7219045,5.92158121 C71.7219045,5.92158121 69.0595005,1.80937204 63.7890272,1.80937204 C58.4642191,1.80937204 55.7474803,5.92158121 55.7474803,9.21134855 C55.7474803,13.9815112 59.3335755,15.8457127 63.354349,17.7647436 C66.4514312,19.1903095 68.7334918,20.3417281 68.7334918,23.2476892 L68.7334918,23.3025187 C68.7334918,25.386038 66.9404442,27.0309216 64.8757227,27.0309216 L60.8549493,27.0309216 L55.9648194,27.0309216 L51.9983808,27.0309216 L51.9983808,11.4045268 L47.2169205,11.4045268 L47.2169205,24.070131 C47.2169205,24.070131 45.9672206,26.3729682 43.4678209,26.3729682 C41.022756,26.3729682 39.7187213,25.1667202 39.7187213,22.3704179 L39.7187213,11.4045268 L34.9372611,11.4045268 L34.9372611,23.6863249 C34.9372611,28.2371697 38.2516824,30.8689835 41.8377776,30.8689835 C45.2608685,30.8689835 47.0539161,28.3468286 47.3799248,27.7437046 L47.3799248,30.3755184 L60.5289406,30.3755184 L64.9843922,30.3755184 C66.994779,30.3755184 68.9508309,29.6079061 70.3092003,28.1275108 C71.6132349,26.8664333 72.2652523,25.2215496 72.2652523,23.2476892 Z" id="Path" fill="#000000"/>
              <path d="M7.66120343,6.90851142 L0,6.90851142 L0,2.30283714 L20.1038672,2.30283714 L20.1038672,6.85368196 L12.4426637,6.85368196 L12.4426637,30.3755184 L7.66120343,30.3755184 C7.66120343,30.3755184 7.66120343,6.90851142 7.66120343,6.90851142 Z" id="Path" fill="#000000"/>
              <polygon id="Path" fill="#000000" points="117.363116 27.8533635 117.363116 28.2919991 116.656764 28.2919991 116.656764 30.3755184 116.167751 30.3755184 116.167751 28.2919991 115.461399 28.2919991 115.461399 27.8533635"/>
              <polygon id="Path" fill="#000000" points="120.460199 30.3755184 119.916851 30.3755184 119.753847 28.7854642 119.156164 30.0465417 118.775821 30.0465417 118.178138 28.7854642 118.015134 30.3755184 117.471786 30.3755184 117.797795 27.8533635 118.232473 27.8533635 118.99316 29.4982472 119.753847 27.8533635 120.188525 27.8533635"/>
          </g>
      </g>
  </g>
</svg>
