<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="22px"
  height="22px"
  viewBox="0 0 22 22"
  version="1.1"
>
  <title>350675D5-8257-4CA2-83DF-F8FDB195035F@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-100.000000, -5401.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <g id="desktop-footer" transform="translate(0.000000, 5217.000000)">
              <g id="social" transform="translate(58.219309, 183.285691)">
                  <path d="M56.9174273,22.4302711 C58.6333892,22.3465656 60.1540383,21.9559402 61.4096202,20.7003583 C62.665202,19.4447765 63.0558275,17.9241273 63.1395329,16.2081655 C63.2232384,14.729369 63.2092875,13.2645235 63.2092875,11.7857271 C63.2092875,10.3069307 63.2232384,8.84208524 63.1395329,7.36328884 C63.0558275,5.64732697 62.665202,4.12667783 61.4096202,2.87109598 C60.1540383,1.61551413 58.6333892,1.22488866 56.9174273,1.1411832 C55.4386309,1.05747775 53.9737854,1.07142866 52.494989,1.07142866 C51.0161926,1.07142866 49.5513471,1.05747775 48.0725507,1.1411832 C46.3565888,1.22488866 44.8359397,1.61551413 43.5803578,2.87109598 C42.324776,4.12667783 41.9341505,5.64732697 41.8504451,7.36328884 C41.8002218,8.25056668 41.7851548,9.1328222 41.7811369,10.0160822 L41.7811369,13.5553721 C41.7851548,14.4386321 41.8002218,15.3208876 41.8504451,16.2081655 C41.9341505,17.9241273 42.324776,19.4447765 43.5803578,20.7003583 C44.8359397,21.9559402 46.3565888,22.3465656 48.0725507,22.4302711 C49.5513471,22.5139765 51.0161926,22.5000256 52.494989,22.5000256 C53.9737854,22.5000256 55.4386309,22.5139765 56.9174273,22.4302711 Z M52.494989,20.5748001 C50.9324871,20.5748001 47.5842689,20.7003583 46.175227,20.1423219 C45.6869452,19.9470092 45.3242215,19.7098437 44.947547,19.3331692 C44.5708724,18.9564946 44.3337069,18.593771 44.1383942,18.1054891 C43.5803578,16.6964473 43.705916,13.348229 43.705916,11.7857271 C43.705916,10.2232253 43.5803578,6.875007 44.1383942,5.46596515 C44.3337069,4.97768331 44.5708724,4.61495967 44.947547,4.23828511 C45.3242215,3.86161055 45.6869452,3.62444509 46.175227,3.42913236 C47.5842689,2.87109598 50.9324871,2.99665417 52.494989,2.99665417 C54.0574909,2.99665417 57.4057091,2.87109598 58.814751,3.42913236 C59.3030328,3.62444509 59.6657565,3.86161055 60.042431,4.23828511 C60.4191056,4.61495967 60.656271,4.97768331 60.8515838,5.46596515 C61.4096202,6.875007 61.284062,10.2232253 61.284062,11.7857271 C61.284062,13.348229 61.4096202,16.6964473 60.8515838,18.1054891 C60.656271,18.593771 60.4191056,18.9564946 60.042431,19.3331692 C59.6657565,19.7098437 59.3030328,19.9470092 58.814751,20.1423219 C57.4057091,20.7003583 54.0574909,20.5748001 52.494989,20.5748001 Z M58.2148619,7.34933793 C58.9263583,7.34933793 59.4983456,6.77735064 59.4983456,6.06585425 C59.4983456,5.35435787 58.9263583,4.78237058 58.2148619,4.78237058 C57.5033655,4.78237058 56.9313782,5.35435787 56.9313782,6.06585425 C56.9313782,6.77735064 57.5033655,7.34933793 58.2148619,7.34933793 Z M52.494989,17.2823855 C55.5362873,17.2823855 57.9916473,14.8270254 57.9916473,11.7857271 C57.9916473,8.74442887 55.5362873,6.28906881 52.494989,6.28906881 C49.4536907,6.28906881 46.9983307,8.74442887 46.9983307,11.7857271 C46.9983307,14.8270254 49.4536907,17.2823855 52.494989,17.2823855 Z M52.494989,15.35716 C50.5279108,15.35716 48.9235562,13.7528054 48.9235562,11.7857271 C48.9235562,9.81864891 50.5279108,8.21429431 52.494989,8.21429431 C54.4620672,8.21429431 56.0664218,9.81864891 56.0664218,11.7857271 C56.0664218,13.7528054 54.4620672,15.35716 52.494989,15.35716 Z" id="instagram"/>
              </g>
          </g>
      </g>
  </g>
</svg>
