<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="40px"
  height="40px"
  viewBox="0 0 40 40"
  version="1.1"
>
  <title>AE45F431-10DD-41BA-947D-561C44F4108C@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-1234.000000, -62.000000)">
          <g id="transparent-header-full" transform="translate(-1.000000, 0.000000)">
              <g id="nav-transparent" transform="translate(0.000000, 42.000000)">
                  <g id="pin-btn" transform="translate(1235.000000, 20.000000)">
                      <rect id="Rectangle" x="0" y="0" width="40" height="40"/>
                      <g id="pin-icon" transform="translate(12.000000, 9.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <path d="M8.55078125,22 C8.95182292,22 9.30989583,21.8138021 9.625,21.4414062 C14.2083333,16.1705729 16.5,11.8164062 16.5,8.37890625 C16.5,5.98697917 15.7695312,4.00325521 14.3085938,2.42773438 C12.7903646,0.809244792 10.7994792,0 8.3359375,0 C7.21875,0 6.14811198,0.225585938 5.12402344,0.676757812 C4.0999349,1.12792969 3.21549479,1.72949219 2.47070312,2.48144531 C1.72591146,3.23339844 1.12792969,4.125 0.676757812,5.15625 C0.225585938,6.1875 0,7.26171875 0,8.37890625 C0,9.00911458 0.0859375,9.66796875 0.2578125,10.3554688 C0.4296875,11.0429688 0.630208333,11.6803385 0.859375,12.2675781 C1.08854167,12.8548177 1.41796875,13.5065104 1.84765625,14.2226562 C2.27734375,14.9388021 2.66048177,15.5439453 2.99707031,16.0380859 C3.33365885,16.5322266 3.78841146,17.1337891 4.36132812,17.8427734 C4.93424479,18.5517578 5.37825521,19.0924479 5.69335938,19.4648438 C6.00846354,19.8372396 6.45247396,20.3528646 7.02539062,21.0117188 C7.19726562,21.2122396 7.32617188,21.3554688 7.41210938,21.4414062 C7.44075521,21.484375 7.49088542,21.5380859 7.5625,21.6025391 C7.63411458,21.6669922 7.76302083,21.749349 7.94921875,21.8496094 C8.13541667,21.9498698 8.31445312,22 8.48632812,22 L8.55078125,22 Z M8.5078125,20.6035156 L8.421875,20.5175781 L8.421875,20.5175781 L8.05664062,20.109375 C7.51236979,19.4791667 7.08984375,18.9886068 6.7890625,18.6376953 C6.48828125,18.2867839 6.06575521,17.7747396 5.52148438,17.1015625 C4.97721354,16.4283854 4.54752604,15.8590495 4.23242188,15.3935547 C3.91731771,14.9280599 3.55208333,14.3623047 3.13671875,13.6962891 C2.72135417,13.0302734 2.40266927,12.4287109 2.18066406,11.8916016 C1.95865885,11.3544922 1.76888021,10.7744141 1.61132812,10.1513672 C1.45377604,9.52832031 1.375,8.9375 1.375,8.37890625 C1.375,7.1328125 1.69010417,5.96907552 2.3203125,4.88769531 C2.95052083,3.8063151 3.79915365,2.95052083 4.86621094,2.3203125 C5.93326823,1.69010417 7.08984375,1.375 8.3359375,1.375 C9.46744792,1.375 10.4772135,1.5719401 11.3652344,1.96582031 C12.2532552,2.35970052 12.9658203,2.89322917 13.5029297,3.56640625 C14.0400391,4.23958333 14.4446615,4.984375 14.7167969,5.80078125 C14.9889323,6.6171875 15.125,7.4765625 15.125,8.37890625 C15.125,11.4726562 12.9479167,15.5188802 8.59375,20.5175781 C8.57942708,20.546224 8.55078125,20.5748698 8.5078125,20.6035156 Z M8.28222656,12.3964844 C9.42089844,12.3964844 10.391276,11.9954427 11.1933594,11.1933594 C11.9954427,10.391276 12.3964844,9.41731771 12.3964844,8.27148438 C12.3964844,7.71289062 12.2890625,7.17936198 12.0742188,6.67089844 C11.859375,6.1624349 11.5657552,5.72558594 11.1933594,5.36035156 C10.8209635,4.99511719 10.3805339,4.7014974 9.87207031,4.47949219 C9.36360677,4.25748698 8.83007812,4.14648438 8.27148438,4.14648438 C7.82747396,4.14648438 7.39420573,4.21809896 6.97167969,4.36132812 C6.54915365,4.50455729 6.16959635,4.7014974 5.83300781,4.95214844 C5.49641927,5.20279948 5.19921875,5.5 4.94140625,5.84375 C4.68359375,6.1875 4.48665365,6.56705729 4.35058594,6.98242188 C4.21451823,7.39778646 4.14648438,7.82747396 4.14648438,8.27148438 C4.14648438,9.41731771 4.55110677,10.391276 5.36035156,11.1933594 C6.16959635,11.9954427 7.14355469,12.3964844 8.28222656,12.3964844 Z M8.27148438,11.0214844 C7.51236979,11.0214844 6.86067708,10.749349 6.31640625,10.2050781 C5.77213542,9.66080729 5.5,9.00911458 5.5,8.25 C5.5,7.49088542 5.76855469,6.84277344 6.30566406,6.30566406 C6.84277344,5.76855469 7.49088542,5.5 8.25,5.5 C9.00911458,5.5 9.65722656,5.76855469 10.1943359,6.30566406 C10.7314453,6.84277344 11,7.49088542 11,8.25 C11,9.1953125 10.6204427,9.94726562 9.86132812,10.5058594 C9.38867188,10.8496094 8.85872396,11.0214844 8.27148438,11.0214844 Z"/>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>
