<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="12px"
  height="22px"
  viewBox="0 0 12 22"
  version="1.1"
>
  <title>0E52BBA4-467F-411B-970D-9118CA52A953@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-58.000000, -5400.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <g id="desktop-footer" transform="translate(0.000000, 5217.000000)">
              <g id="social" transform="translate(58.219309, 183.285691)">
                  <path d="M7.2003434,21.3571683 L7.2003434,11.6155272 L10.4603919,11.6155272 L10.9609506,7.81641557 L7.2003434,7.81641557 L7.2003434,5.39063143 C7.2003434,4.2996703 7.49554465,3.54241494 9.07422957,3.54241494 L11.0892989,3.54241494 L11.0892989,0.154018041 C10.7427583,0.102678694 9.54911853,0 8.16295616,0 C5.26228306,0 3.27288337,1.77120747 3.27288337,5.01842116 L3.27288337,7.81641557 L0,7.81641557 L0,11.6155272 L3.27288337,11.6155272 L3.27288337,21.3571683 L7.2003434,21.3571683 Z" id="facebook"/>
              </g>
          </g>
      </g>
  </g>
</svg>
