<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="20px"
  height="22px"
  viewBox="0 0 20 22"
  version="1.1"
>
  <title>9A8DD910-FA9B-4708-859C-2B0C1E0926B8@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-147.000000, -5401.000000)" fill="#FFFFFF">
          <g id="desktop-footer" transform="translate(0.000000, 5217.000000)">
              <g id="social" transform="translate(58.219309, 183.285691)">
                  <path d="M103.012427,7.93228244 C103.012427,10.0406528 103.017095,12.0684197 103.010702,14.0961866 C103.006542,15.4178868 103.119173,16.7445019 102.679505,18.0386789 C101.876068,20.4031127 99.2986361,23.0223321 95.1172728,22.6847806 C92.15314,22.4455259 89.4272581,20.0574025 88.8907878,17.1331678 C88.0718259,12.6696036 91.9396478,8.63412236 96.5741747,9.10732367 C96.8910646,9.13976165 97.0024783,9.24022109 96.9947666,9.56037412 C96.9722403,10.4933101 96.9705153,11.4274256 96.995071,12.3602632 C97.0044062,12.7159997 96.923129,12.7964066 96.5499235,12.7236669 C94.5390985,12.3319537 92.6215242,13.7965776 92.5458278,15.7588788 C92.4760166,17.5723584 93.9417464,19.095469 95.8040197,19.1444209 C97.7621819,19.1958301 99.2806759,17.7649221 99.2857494,15.8326998 C99.2982302,11.0345328 99.2956934,6.23636591 99.3046228,1.43829728 C99.3062463,0.604739509 99.1846856,0.728888503 100.063819,0.720828156 C100.892116,0.713259295 101.720616,0.727905534 102.54871,0.714635451 C102.841653,0.7099172 102.980363,0.752578057 103.023893,1.0943564 C103.395272,4.00817162 105.364495,5.87286395 108.394481,6.19095274 C108.702442,6.22329242 108.785139,6.31323409 108.779254,6.60458612 C108.760381,7.53762036 108.756931,8.47163757 108.780269,9.40457352 C108.788894,9.74477911 108.665913,9.81014656 108.344254,9.79078207 C106.532309,9.68186909 104.870033,9.15951933 103.373761,8.1561045 C103.279089,8.0926047 103.17975,8.03559249 103.012427,7.93228244" id="tiktok"/>
              </g>
          </g>
      </g>
  </g>
</svg>
