<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="26px"
  height="25px"
  viewBox="0 0 26 25"
  version="1.1"
>
  <title>05499113-F508-4608-9278-1AE891A470CF@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-1077.000000, -72.000000)">
          <g id="transparent-header-full" transform="translate(-1.000000, 0.000000)">
              <g id="nav-transparent" transform="translate(0.000000, 42.000000)">
                  <g id="search-input" transform="translate(866.500000, 22.000000)">
                      <g id="search-btn" transform="translate(212.000000, 8.000000)">
                          <rect id="Rectangle-Copy" x="0" y="0" width="25" height="25"/>
                          <g id="search-icon" transform="translate(5.937437, 5.937406)" fill="#111111" fill-rule="nonzero" stroke="#111111" stroke-width="0.25">
                              <path d="M5.0671875,0 C7.86549922,0 10.1340625,2.26866977 10.1340625,5.0671875 C10.1340625,6.30005146 9.6936945,7.43010503 8.96168051,8.30862619 L12.9461546,12.2159921 L12.2897204,12.8853204 L8.29772256,8.97074011 C7.42076399,9.69732639 6.29495698,10.1340625 5.0671875,10.1340625 C2.26866977,10.1340625 0,7.86549922 0,5.0671875 C0,2.26861652 2.26861652,0 5.0671875,0 Z M5.0671875,0.9375 C2.78638348,0.9375 0.9375,2.78638348 0.9375,5.0671875 C0.9375,7.34772242 2.78642687,9.1965625 5.0671875,9.1965625 C7.34767902,9.1965625 9.1965625,7.34767902 9.1965625,5.0671875 C9.1965625,2.78642687 7.34772242,0.9375 5.0671875,0.9375 Z"/>
                          </g>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>
