<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="150px"
  height="24px"
  viewBox="0 0 150 24"
  version="1.1"
>
  <title>2DC4CC45-1D29-4552-894B-91AE0E4DFC6A@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-645.000000, -3294.000000)" fill="#FFC256">
          <g id="reviews" transform="translate(197.000000, 3294.000000)">
              <g id="star-rating" transform="translate(448.000000, 0.000000)">
                  <polygon id="Fill-1" points="12.3626964 0 15.9914075 7.85413194 24.7252747 8.81451533 18.2346267 14.6287091 20.0030053 23.0769231 12.3626375 18.8159818 4.72226974 23.0769231 6.49064827 14.6287091 0 8.81451533 8.73386755 7.85413194"/>
                  <polygon id="Fill-1-Copy" points="43.6813777 0 47.3100888 7.85413194 56.043956 8.81451533 49.5533081 14.6287091 51.3216866 23.0769231 43.6813188 18.8159818 36.0409511 23.0769231 37.8093296 14.6287091 31.3186813 8.81451533 40.0525489 7.85413194"/>
                  <polygon id="Fill-1-Copy-2" points="75.000059 0 78.6287701 7.85413194 87.3626374 8.81451533 80.8719894 14.6287091 82.6403679 23.0769231 75.0000001 18.8159818 67.3596324 23.0769231 69.1280109 14.6287091 62.6373626 8.81451533 71.3712302 7.85413194"/>
                  <polygon id="Fill-1-Copy-3" points="106.31874 0 109.947451 7.85413194 118.681319 8.81451533 112.190671 14.6287091 113.959049 23.0769231 106.318681 18.8159818 98.6783137 23.0769231 100.446692 14.6287091 93.956044 8.81451533 102.689912 7.85413194"/>
                  <polygon id="Fill-1-Copy-4" points="137.637422 0 141.266133 7.85413194 150 8.81451533 143.509352 14.6287091 145.277731 23.0769231 137.637363 18.8159818 129.996995 23.0769231 131.765374 14.6287091 125.274725 8.81451533 134.008593 7.85413194"/>
              </g>
          </g>
      </g>
  </g>
</svg>
