<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="40px"
  height="40px"
  viewBox="0 0 40 40"
  version="1.1"
>
  <title>A7753607-89A0-4B1C-B26C-1885D3563E3B@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-1334.000000, -62.000000)">
          <g id="transparent-header-full" transform="translate(-1.000000, 0.000000)">
              <g id="nav-transparent" transform="translate(0.000000, 42.000000)">
                  <g id="nav-icons" transform="translate(1235.000000, 20.000000)">
                      <g id="cart-btn" transform="translate(100.000000, 0.000000)">
                          <rect id="Rectangle-Copy-3" x="0" y="0" width="40" height="40"/>
                          <path d="M15.7112073,26.1574212 C16.7637611,26.1574212 17.6165602,27.0100879 17.6165602,28.0618876 C17.6165602,29.1136873 16.7637611,29.966945 15.7112073,29.966945 C14.6598354,29.966945 13.8070363,29.1136873 13.8070363,28.0618876 C13.8070363,27.0100879 14.6598354,26.1574212 15.7112073,26.1574212 Z M26.3654848,26.1574212 C27.4178754,26.1574212 28.2705422,27.0100879 28.2705422,28.0618876 C28.2705422,29.1136873 27.4178754,29.966945 26.3654848,29.966945 C25.3142761,29.966945 24.4616093,29.1136873 24.4616093,28.0618876 C24.4616093,27.0100879 25.3142761,26.1574212 26.3654848,26.1574212 Z M12.2115787,11 L13.0054853,14.1032313 L31.4503927,14.1038507 L28.2243563,25.1984127 L14.2963583,25.1984127 L11.0464853,12.4992313 L9,12.5 L9,11 L12.2115787,11 Z M29.4514853,15.6032313 L13.3894853,15.6032313 L15.4604853,23.6982313 L27.0974853,23.6982313 L29.4514853,15.6032313 Z" id="cart-icon" fill="#FFFFFF" fill-rule="nonzero"/>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>
