<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="40px"
  height="40px"
  viewBox="0 0 40 40"
  version="1.1"
>
  <title>7D621323-093A-475C-9573-C4C6C0D53C60@3x</title>
  <g id="Round-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="TS_Homepage-FullHero" transform="translate(-1284.000000, -62.000000)">
          <g id="transparent-header-full" transform="translate(-1.000000, 0.000000)">
              <g id="nav-transparent" transform="translate(0.000000, 42.000000)">
                  <g id="nav-icons" transform="translate(1235.000000, 20.000000)">
                      <g id="account-btn" transform="translate(50.000000, 0.000000)">
                          <rect id="Rectangle-Copy-2" x="0" y="0" width="40" height="40"/>
                          <path d="M19.6884606,22.6876579 C23.8098024,22.6876579 27.3678803,25.2555684 28.3163418,28.8455948 L28.3769417,29.091935 L26.9144595,29.4253201 C26.2275872,26.4121727 23.224654,24.1876579 19.6884606,24.1876579 C16.2433432,24.1876579 13.3040693,26.2995772 12.5198461,29.1952044 L12.462441,29.4254105 L11,29.0918446 C11.8480915,25.3735871 15.4739007,22.6876579 19.6884606,22.6876579 Z M19.6535183,10 C22.74822,10 25.2569899,12.5087699 25.2569899,15.6034715 C25.2569899,18.6981732 22.74822,21.2069431 19.6535183,21.2069431 C16.5591098,21.2069431 14.0500468,18.6980343 14.0500468,15.6034715 C14.0500468,12.5089088 16.5591098,10 19.6535183,10 Z M19.6535183,11.5 C17.3875163,11.5 15.5500468,13.3373565 15.5500468,15.6034715 C15.5500468,17.8695866 17.3875163,19.7069431 19.6535183,19.7069431 C21.9197928,19.7069431 23.7569899,17.8697461 23.7569899,15.6034715 C23.7569899,13.337197 21.9197928,11.5 19.6535183,11.5 Z" id="account-icon" fill="#FFFFFF" fill-rule="nonzero"/>
                      </g>
                  </g>
              </g>
          </g>
      </g>
  </g>
</svg>
