<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    <a
      href="{{ link.url }}"
      class="inline-block text-sm font-medium leading-none text-white px-5"
    >
      {{ link.title }}
    </a>
  {% endfor %}
</div>
