<div class="bg-transparent flex items-center">
  <form
    action="{{ routes.search_url }}"
    class="w-search-form h-10 px-3 flex items-center rounded-full bg-white"
  >
    <input
      type="text"
      placeholder="Search"
      name="q"
      value="{{ search.terms | escape }}"
      class="bg-transparent grow border-none text-dark-gray text-sm  font-light  capitalize outline-none"
    >
    <button type="submit" value="Search">
      <div class="icon-search">
        {% render 'icon-search' %}
      </div>
    </button>
  </form>
</div>
