<div
  class="max-w-3xl mx-auto {{ class | default: '' }}"
  style="{{ style | default: '' }}"
>
  <div>
    <div class="text-center text-cod-gray text-base md:text-testimonial-title-md leading-6 md:leading-8 font-light mb-5 md:mb-7">
      {{ text }}
    </div>

    <div class="text-cod-gray text-xs md:text-xl leading-none text-center">
      — {{ author }}
    </div>
  </div>
</div>
