<div
  class="max-w-3xl mx-auto {{ class | default: '' }}"
  style="{{ style | default: '' }}"
>
  <div>
    <div class="text-center text-light-black text-testimonial-title-md leading-8 font-light mb-7">
      {{ text }}
    </div>

    <div class="text-light-black text-xl leading-none text-center">
      — {{ author }}
    </div>
  </div>
</div>
