<div
  class="max-w-[240px] md:max-w-lg xl:max-w-3xl mx-auto {{ class | default: '' }}"
  style="{{ style | default: '' }}"
>
  <div>
    <div class="max- text-center  text-base md:text-2xl xl:text-testimonial-title-md leading-6 md:leading-8 font-light mb-5 md:mb-7">
      {{ text }}
    </div>

    <div class=" text-xs md:text-xl leading-none text-center">
      — {{ author }}
    </div>
  </div>
</div>
