<div>
  <div class="overflow-hidden px-3 md:px-16 py-2" data-slider="ticker">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide lozad">
          {%
            render 'section-image',
            class: 'max-h-20'
            image: block.settings.icon,
            alt_text: "ticker"
          %}
        </div>
      {% endfor %}
      {% for block in section.blocks %}
        <div class="swiper-slide lozad">
          {%
            render 'section-image',
            class: 'max-h-20 '
            image: block.settings.icon,
            alt_text: "ticker"
          %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Icon Tickers",
  "blocks": [
    {
      "type": "ticker",
      "name": "Ticker",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Ticker Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon Tickers",
      "category": "Custom",
      "blocks": [
        {
          "type": "ticker"
        },
        {
          "type": "ticker"
        },
        {
          "type": "ticker"
        },
        {
          "type": "ticker"
        },
        {
          "type": "ticker"
        },
        {
          "type": "ticker"
        }
      ]
    }
  ]
}
{% endschema %}
