<div class="py-8 md:py-6">
  <div class="container px-8 md:px-4 flex items-center justify-between flex-wrap md:flex-nowrap">
    {% for block in section.blocks %}
      <div class="flex items-center basis-1/2 md:basis-auto flex-col md:flex-row gap-5 md:gap-3 py-5 md:py-0">
        <div class="w-16 h-16 md:w-12 md:h-12">
          {% assign image = block.settings.image %}
          {% if image %}
            <img
              src="{{ image | img_url: '100x' }}"
              alt="{{ image.alt }}"
              class="w-full h-full object-cover object-center"
            >
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'w-full h-full border' }}
          {% endif %}
        </div>
        <div class="text-sm md:text-base tracking-normal text-light-black">
          {{ block.settings.text }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Callouts",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "icon",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Your Text Here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Callouts",
      "category": "Custom",
      "blocks": [
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        }
      ]
    }
  ]
}
{% endschema %}
