<div class="my-16">
  <div class="container flex items-center flex-col md:flex-row">
    <div class="md:pr-16 md:basis-1/2">
      {%
        render 'section-image',
        class: ''
        image: section.settings.image,
        alt_text: "Ingredients"
      %}
    </div>
    <div class="max-w-lg text-center md:text-left mt-10 md:mt-0 md:pr-10 md:basis-1/2">
      <div class="text-section-title-md font-abril-display font-bold text-cod-gray leading-tight">
        {{ section.settings.title }}
      </div>
      <div class="mt-10 md:mt-5 text-base text-cod-gray leading-6 md:leading-normal tracking-normal">
        {{ section.settings.subtitle }}
      </div>
      <a
        href="{{ section.settings.btn_link }}"
        class="button button-secondary mx-auto md:ml-0 mt-10 md:mt-7"
      >
        {{- section.settings.btn_text -}}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Learn More"
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
