<div class="my-16">
  <div class="container flex items-center flex-col lg:flex-row">
    <div class="lg:pr-16 lg:basis-1/2">
      {%
        render 'section-image',
        class: ''
        image: section.settings.image,
        alt_text: "Ingredients"
      %}
    </div>
    <div class="max-w-lg text-center lg:text-left mt-10 lg:mt-0 lg:pr-10 lg:basis-1/2">
      <h2 class="text-section-title-md font-abril-display font-bold  leading-tight">
        {{ section.settings.title }}
      </h2>
      <div class="mt-10 lg:mt-5 text-base  leading-6 lg:leading-normal tracking-normal">
        {{ section.settings.subtitle }}
      </div>
      <a
        href="{{ section.settings.btn_link }}"
        class="button button-secondary mx-auto lg:ml-0 mt-10 lg:mt-7"
      >
        {{- section.settings.btn_text -}}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text",
  "class": "relative z-1",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Learn More"
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}
