<div class="container my-16">
  <div class="flex justify-center">
    {% render 'icon-ratings-5' %}
  </div>
  {% if section.settings.headline %}
    <div class="text-2xl md:text-section-title-md leading-normal font-bold text-center mt-3 mb-5">
      {{ section.settings.headline }}
    </div>
  {% endif %}

  <div class="overflow-hidden relative" data-slider="testimonial">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide lozad">
          {%
            render 'section-quote',
            text: block.settings.quote-text
            author: block.settings.quote-author
          %}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next testimonial-swiper-btn"></div>
    <div class="swiper-button-prev testimonial-swiper-btn"></div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.quotes.name",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "What others say about us"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.quotes.settings.quote",
      "limit": 3,
      "settings": [
        {
          "type": "textarea",
          "id": "quote-text",
          "label": "t:common.text",
          "default": "Add customer reviews and testimonials to showcase your store’s happy customers."
        },
        {
          "type": "text",
          "id": "quote-author",
          "label": "t:common.author",
          "default": "Author's name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.quotes.name",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
