<div class="my-16 container grid sm:grid-cols-2 lg:grid-cols-4 gap-5">
  {% for block in section.blocks %}
    <div class="">
      <a class="" href="{{ block.settings.link }}">
        {%
          render 'section-image',
          class: 'h-96 rounded-2xl overflow-hidden'
          image: block.settings.image
        %}
      </a>

      <div class="mt-5 text-xl leading-6 text-light-black font-bold">
        {{ block.settings.title }}
      </div>
      <a
        class="block w-fit pt-3 pb-underline text-sm leading-none font-bold border-b-2 border-b-orange"
        href="{{ block.settings.link }}"
        >Shop Now</a
      >
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Skin Condition",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "image_with_link",
      "name": "Image With Link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Your Title Here"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Skin Condition",
      "category": "Custom",
      "blocks": [
        {
          "type": "image_with_link"
        },
        {
          "type": "image_with_link"
        },
        {
          "type": "image_with_link"
        },
        {
          "type": "image_with_link"
        }
      ]
    }
  ]
}
{% endschema %}
